<div class="card">
    <div class="card-body">
        <div class="h2">
            {{ author.first_name }} {{ author.last_name }}
        </div>
        <div class="h3 text-muted">
            @{{ author.username }}
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted">
                Подписчиков: {{ author.count_followers }} <br/>
                Подписан: {{ author.count_following }}
            </div>
        </li>
        <li class="list-group-item">
            <div class="h6 text-muted">
                Записей: {{ author.count_posts }}
            </div>
        </li>
        {% if author.is_follow_available %}
            <li class="list-group-item">
                {% if author.is_following %}
                <a class="btn btn-lg btn-light"
                        href="{% url 'profile_unfollow' author.username %}?next={{request.path}}" role="button">
                        Отписаться
                </a>
                {% else %}
                <a class="btn btn-lg btn-primary"
                        href="{% url 'profile_follow' author.username %}?next={{request.path}}" role="button">
                        Подписаться
                </a>
                {% endif %}
            </li>
        {% endif %}
    </ul>

</div>
