{% extends "base.html" %}
{% block title %}Сообщение{% endblock %}
{% block content %}
    {% load user_filters %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                {% include "includes/card_author.html" with author=author%}
            </div>
            <div class="col-md-9">
                {% include "includes/card_post.html" with post=post%}

                {% include "includes/comments.html" with post=post comments=comments%}
            </div>
        </div>
    </main>
{% endblock %}